Jobsheet 4/B. Transmisi Data Menggunakan Protokol HTTP/flow program Multi-Protocol IoT.json
[
  {
    "id": "5b890ccf.cfd994",
    "type": "tab",
    "label": "Multi-Protocol Server",
    "disabled": false,
    "info": ""
  },
  {
    "id": "714c1277091756b2",
    "type": "http in",
    "z": "5b890ccf.cfd994",
    "name": "Post Data",
    "url": "/flood/node1",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 100,
    "y": 120,
    "wires": [["cfb8d82279080505", "d2b73f6ee32154e0", "2c3ad4b412708bcd"]]
  },
  {
    "id": "5bddcfc457244127",
    "type": "mysql",
    "z": "5b890ccf.cfd994",
    "mydb": "fe8cc6b6.d28218",
    "name": "DB Banjir",
    "x": 620,
    "y": 180,
    "wires": [[]]
  },
  {
    "id": "cfb8d82279080505",
    "type": "function",
    "z": "5b890ccf.cfd994",
    "name": "Validation",
    "func": "var status = 0\nif (msg.payload.dev_id &&\n msg.payload.level &&\n msg.payload.rainfall &&\nmsg.payload.flow)\n{\n status = 1\n}\nmsg.payload.status = status\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 260,
    "y": 120,
    "wires": [["6f7e721672b767bf"]]
  },
  {
    "id": "6f7e721672b767bf",
    "type": "switch",
    "z": "5b890ccf.cfd994",
    "name": "Router",
    "property": "payload.status",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 390,
    "y": 120,
    "wires": [
      ["700571713ca9a07c", "405337a110cc8bb3", "d52308cc1f9c1820"],
      ["c66b1d1429bf1627", "cde681d0057aa22f"]
    ]
  },
  {
    "id": "700571713ca9a07c",
    "type": "http response",
    "z": "5b890ccf.cfd994",
    "name": "Resp OK",
    "statusCode": "200",
    "headers": {
      "content-type": "application/json"
    },
    "x": 500,
    "y": 60,
    "wires": []
  },
  {
    "id": "c66b1d1429bf1627",
    "type": "http response",
    "z": "5b890ccf.cfd994",
    "name": "Resp Bad",
    "statusCode": "400",
    "headers": {
      "content-type": "application/json"
    },
    "x": 860,
    "y": 60,
    "wires": []
  },
  {
    "id": "49f136c7d34e0ca5",
    "type": "debug",
    "z": "5b890ccf.cfd994",
    "name": "HTTP Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 630,
    "y": 140,
    "wires": []
  },
  {
    "id": "405337a110cc8bb3",
    "type": "function",
    "z": "5b890ccf.cfd994",
    "name": "",
    "func": "msg.topic = \"INSERT INTO smartwater (dev_id, level, rainfall, flow)\" + \n \" VALUES(\" + \n msg.payload.dev_id + \",\" +\n msg.payload.level + \",\" +\n msg.payload.rainfall + \",\" +\n msg.payload.flow + \")\"\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 180,
    "wires": [["5bddcfc457244127", "49f136c7d34e0ca5"]]
  },
  {
    "id": "ab1f81c3367a8f8e",
    "type": "mqtt in",
    "z": "5b890ccf.cfd994",
    "name": "",
    "topic": "flood/node1",
    "qos": "2",
    "datatype": "auto",
    "broker": "f9a971b7c57d8b6c",
    "nl": false,
    "rap": false,
    "x": 110,
    "y": 240,
    "wires": [["26095e1a8765435f"]]
  },
  {
    "id": "32f8d9ac97e0dc3d",
    "type": "debug",
    "z": "5b890ccf.cfd994",
    "name": "MQTT Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 610,
    "y": 280,
    "wires": []
  },
  {
    "id": "de50e0ca8fb829f4",
    "type": "function",
    "z": "5b890ccf.cfd994",
    "name": "",
    "func": "msg.topic = \"INSERT INTO smartwater (dev_id, level, rainfall, flow)\" + \n \" VALUES(\" + \n msg.payload.dev_id + \",\" +\n msg.payload.level + \",\" +\n msg.payload.rainfall + \",\" +\n msg.payload.flow + \")\"\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 280,
    "wires": [["32f8d9ac97e0dc3d", "5bddcfc457244127"]]
  },
  {
    "id": "26095e1a8765435f",
    "type": "json",
    "z": "5b890ccf.cfd994",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 270,
    "y": 280,
    "wires": [
      [
        "de50e0ca8fb829f4",
        "d2b73f6ee32154e0",
        "2c3ad4b412708bcd",
        "912098f194a76ef2",
        "034d5e39764ad47b",
        "5ffbb0b1b58f11eb",
        "cdcf79b2260f5497",
        "1a2c7fcaf9cb07da",
        "1f2356cbc8d15404"
      ]
    ]
  },
  {
    "id": "d52308cc1f9c1820",
    "type": "debug",
    "z": "5b890ccf.cfd994",
    "name": "OK",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 330,
    "y": 60,
    "wires": []
  },
  {
    "id": "cde681d0057aa22f",
    "type": "debug",
    "z": "5b890ccf.cfd994",
    "name": "Error",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 670,
    "y": 60,
    "wires": []
  },
  {
    "id": "8120b93037058f0b",
    "type": "debug",
    "z": "5b890ccf.cfd994",
    "name": "WS Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 620,
    "y": 360,
    "wires": []
  },
  {
    "id": "d5c74ba7671b8c83",
    "type": "function",
    "z": "5b890ccf.cfd994",
    "name": "",
    "func": "msg.topic = \"INSERT INTO smartwater (dev_id, level, rainfall, flow)\" + \n \" VALUES(\" + \n msg.payload.dev_id + \",\" +\n msg.payload.level + \",\" +\n msg.payload.rainfall + \",\" +\n msg.payload.flow + \")\"\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 400,
    "wires": [["8120b93037058f0b", "5bddcfc457244127"]]
  },
  {
    "id": "a87789c5831a96ee",
    "type": "json",
    "z": "5b890ccf.cfd994",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 270,
    "y": 400,
    "wires": [["d5c74ba7671b8c83", "d2b73f6ee32154e0", "2c3ad4b412708bcd"]]
  },
  {
    "id": "902b1c025d5c11f1",
    "type": "websocket in",
    "z": "5b890ccf.cfd994",
    "name": "",
    "server": "4f1951193068098c",
    "client": "",
    "x": 120,
    "y": 400,
    "wires": [["a87789c5831a96ee"]]
  },
  {
    "id": "7103f54b72a2c9a3",
    "type": "comment",
    "z": "5b890ccf.cfd994",
    "name": "HTTP Server",
    "info": "",
    "x": 110,
    "y": 40,
    "wires": []
  },
  {
    "id": "199a3a91f0130ffb",
    "type": "comment",
    "z": "5b890ccf.cfd994",
    "name": "MQTT Server",
    "info": "",
    "x": 110,
    "y": 200,
    "wires": []
  },
  {
    "id": "0c72fbcf385a0d9e",
    "type": "comment",
    "z": "5b890ccf.cfd994",
    "name": "Websocket",
    "info": "",
    "x": 100,
    "y": 360,
    "wires": []
  },
  {
    "id": "60b8038414a1adcf",
    "type": "ui_gauge",
    "z": "5b890ccf.cfd994",
    "name": "",
    "group": "3cd2e5646bddc1d5",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Rain Gauge",
    "label": "mm/10 minutes",
    "format": "{{value}}",
    "min": 0,
    "max": 10,
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "className": "",
    "x": 630,
    "y": 480,
    "wires": []
  },
  {
    "id": "5d52fd32f61a070a",
    "type": "ui_chart",
    "z": "5b890ccf.cfd994",
    "name": "",
    "group": "3cd2e5646bddc1d5",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "Water Level (cm)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "step",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 650,
    "y": 440,
    "wires": [[]]
  },
  {
    "id": "d2b73f6ee32154e0",
    "type": "function",
    "z": "5b890ccf.cfd994",
    "name": "",
    "func": "var obj1 = msg.payload;\nmsg.payload = obj1.level;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 440,
    "wires": [["5d52fd32f61a070a"]]
  },
  {
    "id": "2c3ad4b412708bcd",
    "type": "function",
    "z": "5b890ccf.cfd994",
    "name": "",
    "func": "var obj = msg.payload;\nmsg.payload = obj.rainfall;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 480,
    "wires": [["60b8038414a1adcf"]]
  },
  {
    "id": "912098f194a76ef2",
    "type": "function",
    "z": "5b890ccf.cfd994",
    "name": "",
    "func": "var obj = msg.payload;\nmsg.payload = obj.rainfall;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 560,
    "wires": [["f024e5c8a52acc8a"]]
  },
  {
    "id": "034d5e39764ad47b",
    "type": "function",
    "z": "5b890ccf.cfd994",
    "name": "",
    "func": "var obj = msg.payload;\nmsg.payload = obj.flow;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 600,
    "wires": [["62a7521022e1cb2e"]]
  },
  {
    "id": "62a7521022e1cb2e",
    "type": "ui_gauge",
    "z": "5b890ccf.cfd994",
    "name": "",
    "group": "8c341cdd237f621f",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Water Flow",
    "label": "l/s",
    "format": "{{value}}",
    "min": 0,
    "max": "1000",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "className": "",
    "x": 630,
    "y": 600,
    "wires": []
  },
  {
    "id": "f024e5c8a52acc8a",
    "type": "ui_chart",
    "z": "5b890ccf.cfd994",
    "name": "",
    "group": "8c341cdd237f621f",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "Rainfall",
    "chartType": "bar",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 620,
    "y": 560,
    "wires": [[]]
  },
  {
    "id": "932a9b8571b65766",
    "type": "ui_chart",
    "z": "5b890ccf.cfd994",
    "name": "",
    "group": "8c341cdd237f621f",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "Water Level",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 630,
    "y": 520,
    "wires": [[]]
  },
  {
    "id": "5ffbb0b1b58f11eb",
    "type": "function",
    "z": "5b890ccf.cfd994",
    "name": "",
    "func": "var obj = msg.payload;\nmsg.payload = obj.level;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 520,
    "wires": [["932a9b8571b65766"]]
  },
  {
    "id": "9b7b061f33dea219",
    "type": "http in",
    "z": "5b890ccf.cfd994",
    "name": "Get Data",
    "url": "/flood/node1",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 100,
    "y": 80,
    "wires": [["cfb8d82279080505", "d2b73f6ee32154e0", "2c3ad4b412708bcd"]]
  },
  {
    "id": "1d600e624990207c",
    "type": "mqtt out",
    "z": "5b890ccf.cfd994",
    "name": "",
    "topic": "flood/node2/led",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "f9a971b7c57d8b6c",
    "x": 200,
    "y": 580,
    "wires": []
  },
  {
    "id": "1a2c7fcaf9cb07da",
    "type": "function",
    "z": "5b890ccf.cfd994",
    "name": "",
    "func": "var obj = msg.payload;\nmsg.payload = obj.rainfall;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 700,
    "wires": [["87b3ee63d26ce078"]]
  },
  {
    "id": "87b3ee63d26ce078",
    "type": "ui_chart",
    "z": "5b890ccf.cfd994",
    "name": "",
    "group": "68d767ed82174033",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "Rainfall",
    "chartType": "bar",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 620,
    "y": 700,
    "wires": [[]]
  },
  {
    "id": "b9ca3b469e9ca168",
    "type": "ui_chart",
    "z": "5b890ccf.cfd994",
    "name": "",
    "group": "68d767ed82174033",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "Water Level",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 630,
    "y": 660,
    "wires": [[]]
  },
  {
    "id": "cdcf79b2260f5497",
    "type": "function",
    "z": "5b890ccf.cfd994",
    "name": "",
    "func": "var obj = msg.payload;\nmsg.payload = obj.level;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 660,
    "wires": [["b9ca3b469e9ca168"]]
  },
  {
    "id": "1f2356cbc8d15404",
    "type": "function",
    "z": "5b890ccf.cfd994",
    "name": "",
    "func": "var obj = msg.payload;\nmsg.payload = obj.flow;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 740,
    "wires": [["b1764384d33fa351"]]
  },
  {
    "id": "b1764384d33fa351",
    "type": "ui_gauge",
    "z": "5b890ccf.cfd994",
    "name": "",
    "group": "68d767ed82174033",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Water Flow",
    "label": "l/s",
    "format": "{{value}}",
    "min": 0,
    "max": "1000",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "className": "",
    "x": 630,
    "y": 740,
    "wires": []
  },
  {
    "id": "31e8a2aae5237f55",
    "type": "ui_switch",
    "z": "5b890ccf.cfd994",
    "name": "led button",
    "label": "LED",
    "tooltip": "",
    "group": "68d767ed82174033",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "flood/node1/led",
    "topicType": "msg",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 100,
    "y": 520,
    "wires": [["1d600e624990207c"]]
  },
  {
    "id": "d770c87012ef53a7",
    "type": "mqtt in",
    "z": "5b890ccf.cfd994",
    "name": "",
    "topic": "flood/node2",
    "qos": "2",
    "datatype": "auto",
    "broker": "f9a971b7c57d8b6c",
    "nl": false,
    "rap": false,
    "x": 110,
    "y": 300,
    "wires": [["26095e1a8765435f"]]
  },
  {
    "id": "fe8cc6b6.d28218",
    "type": "MySQLdatabase",
    "name": "",
    "host": "localhost",
    "port": "3306",
    "db": "banjir_db",
    "tz": "",
    "charset": "UTF8"
  },
  {
    "id": "f9a971b7c57d8b6c",
    "type": "mqtt-broker",
    "name": "My Broker",
    "broker": "localhost",
    "port": "1883",
    "clientid": "smarthome28",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "4f1951193068098c",
    "type": "websocket-listener",
    "path": "/flood/node1",
    "wholemsg": "false"
  },
  {
    "id": "3cd2e5646bddc1d5",
    "type": "ui_group",
    "name": "Node 1",
    "tab": "9c0d3f283c093e0f",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "8c341cdd237f621f",
    "type": "ui_group",
    "name": "Node 1-1",
    "tab": "9c0d3f283c093e0f",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "68d767ed82174033",
    "type": "ui_group",
    "name": "Node 2",
    "tab": "9c0d3f283c093e0f",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "9c0d3f283c093e0f",
    "type": "ui_tab",
    "name": "Multi-Protocol MiSREd",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
